{% extends "base.html" %} {% block title %}{{ _('Registrati - ₿eesy') }}{% endblock %} {% block content %}

<h1>{{ _('Registrati') }}</h1>
<form method="post">
  <label>{{ _('Username:') }} <input name="username" /></label><br />
  <label>{{ _('Email:') }} <input name="email" type="email" /></label><br />
  <label
    >{{ _('Password:') }} <input name="password" type="password" />
    <div style="border: 1px solid #ccc; padding: 15px; margin-bottom: 20px">
      <p><strong>{{ _('Requisiti Minimi:') }}</strong></p>
      <ul>
        <li>{{ _('Almeno 12 caratteri (spazi ammessi, ad esempio per una frase)') }}</li>
        <li>{{ _('Almeno una lettera maiuscola') }}</li>
        <li>{{ _('Almeno un numero') }}</li>
        <li>{{ _('Almeno un carattere speciale (!, @, #, $, ecc.)') }}</li>
      </ul>
    </div> </label
  ><br />
  <button type="submit">{{ _('Registrati') }}</button>
</form>
<p><a href="/login">{{ _('Già hai un account? Accedi') }}</a></p>

{% endblock %}
