{% extends "base.html" %} {% block title %}{{ _('Scarica CSV per mese Lightning-₿eesy') }}{% endblock %} {% block content %}

<h1>📥 {{ _('Scarica CSV per mese Lightning⚡️') }} </h1>
<form method="post" action="{{ url_for('scarica_csv_per_mese_lightning') }}">
  <label for="mese">{{ _('Inserisci mese:') }}</label><br />
  <input
    type="text"
    id="mese"
    name="mese"
    placeholder="2025-09"
    pattern="^\d{4}-(0[1-9]|1[0-2])$"
    title="Inserisci un mese nel formato AAAA-MM (es: 2025-09)"
    required
  />
  <br /><br />
  <button type="submit">📥 {{ _('Scarica CSV') }}</button>
</form>
<p><a href="/">⬅️ {{ _('Torna alla home') }}</a></p>

{% with messages = get_flashed_messages(with_categories=true) %} {% if messages
%}
<ul class="flashes">
  {% for category, message in messages %}
  <li class="{{ category }}">{{ message }}</li>
  {% endfor %}
</ul>
{% endif %} {% endwith %} {% endblock %}
